/* Root Presets */
:root{
  --acn-color: #de49a9;
}
@font-face {
  font-family: 'Baloo-2';
  src: url(./font/baloo-2-v1-vietnamese_devanagari-regular.woff2), 
  url(./font/baloo-2-v1-vietnamese_devanagari-600.woff2);
}
/* End of Root Presets */
/* Generic Presets */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo-2';
}
a{
  outline: none;
  text-decoration: none;
}
p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
  width: 100%;
  height: 100%;
}
.section-title{
  margin: 1em 0;
}
/* End of Generic Presets */

html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(248, 242, 246); 
}
main{
  width: 100%;
  min-height: 100vh; 
  overflow: hidden;
} 
header{ 
  overflow: hidden;
  padding: 10px 100px;
  display: flex;
  align-items: center;  
  background-color: #1e242a;
}
header .container{
  width: 100%;
  height: 7vh; 
  top: -100%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: anim4 2s forwards 3.3s;  
} 
header .container .logo img{
  width: 68px;
  padding-top: 15px;
}
header .container nav{
  flex: 1;
  position: relative;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: .9rem;
  color: #fff;
  letter-spacing: 2px; 
} 
nav a{
  position: relative;
  margin: 0 20px;
  padding: 0 4px;
  font-size: 1.2em;
  color: #fff;  
}
nav .marker{
  position: absolute;
  height: 4px;
  width: 0;
  left: 0;
  background: var(--acn-color);
  bottom: -7px;
  border-radius: 4px; 
  transition: .5s;
}
.container .menu.hide-desktop{
  display: none;
}


section.hero{
  position: relative;
  min-height: calc(100vh - 7vh);
  overflow: hidden;
  background-color: #1e242a;
  z-index: -1;
}
#box1{
  width: 530px;
  height: 625px;
  background-color: #1e242a;
  background-image: url(./images/gridhand-min.png);
  position: absolute;
  bottom: -100%;
  left: 30%; 
  animation: anim 2s forwards, anim2 3s forwards 2.5s;
}
#box1::after{
  content: '';
  position: absolute;
  width: 530px;
  height: 625px;
  background-color: #1e242a;
  background-image: url(./images/fullhand-min.png);
  left: 0;
  z-index: -1;
}

#box2{ 
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  position: absolute;
  top: 100px;
  left: 100px;
  overflow: hidden;
  z-index: 1;
}
#hero-text{
  position: relative;
  left: -100%;
  animation: anim3 2s forwards 3s;
}
#hero-text h1{
  font-size: 6rem;
  font-weight: 500; 
  line-height: 80px;
}
#hero-text h1 span{
  font-size: 3.5rem;
}
#hero-text p{
  margin: 1.2em 0 2em;
  font-size: 1.45rem; 
}
#hero-text a.cta{
  position: relative;
  display: inline-block;
  padding: 10px 30px; 
  border: 2px solid #a744dc;
  color: #eeeeff;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: .5s; 
  outline: 2px inset #a744dc; 
  outline-offset: .12em;
  margin: 5px;  
  z-index: 99;
  cursor: pointer;
}
#hero-text .cta:hover{
  color: #1e242a; 
}
#hero-text a.cta::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #de49a9;
  transition: .9s;
}
#hero-text a.cta:hover::before{
  width: 100%;
}
#hero-text a.cta span{
  position: relative;
  /* z-index: 3; */
}

/* SERVICES Ruleset */
#solution{
  background: url(./images/backdrop/bkd.jpg) no-repeat center center / cover;  
  min-height: 100vh; 
}
#solution .solution.container{ 
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5em 4em;
}
.top{
  max-width: 1068px;  
  text-align: center; 
  line-height: 1.69em;
  font-weight: 300;
  font-size: 1.2rem;
}


#solution .solution-down{  
  width: 90%;  
  margin-top: 2.5em;
}
#solution .card-holder{  
  width: 100%;
  position: relative; 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
}
#solution .card{ 
  margin: -2.5em auto;
}
#solution .card-holder .card .face{
  max-width: 300px;  
  min-height: 200px;
  transition: .5s;
}
#solution .card-holder .card .face.face1{
  position: relative; 
  background: #F8F1FF;
  /* background: #e4d8f5; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
#solution .card-holder .card:hover .face.face1,
#solution .card-holder .card:active .face.face1{
  transform: translateY(0); 
  background: #B084CC;
  /* background: var(--acn-color); */
  color: #eeefff;
}
#solution .card-holder .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}
#solution .card-holder .card .face.face1 .content{
  opacity: 1;
}
#solution .card-holder .card .face.face1 .content img{
  max-width: 100px;
}
#solution .card-holder .card .face.face1 .content h3{
  margin: 20px 0 0;
}
#solution .card-holder .card .face.face2{
  position: relative;
  background: #eeefff;
  display: grid;
  place-items: center;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-100px);
}
#solution .card-holder .card:hover .face.face2,
#solution .card-holder .card:active .face.face2{
  transform:  translateY(0);
}
#solution .card-holder .card .face.face2 .content p{
  font-size: .85rem;
}
#solution .card-holder .card .face.face2 .content a{
  margin: 15px 0 0;
  display: inline-block;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  transition: .8s ease-in-out;
}
#solution .card-holder .card .face.face2 .content a:hover,
#solution .card-holder .card .face.face2 .content a:active{
  background: #333;
  color: #eeefff;
}

/* End of Solution Ruleset */

/* TESTIMONIAL RULESET */
.testimonial{
  display: grid;
  place-items: center;
  background-color: #fff;
  padding: 100px 0;
}
/* END OF TESTIMONIAL RULESET */

/* CONTACT SECTION */
section.contact{ 
  min-height: 79vh;
  padding: 2em;
  background: rgb(248, 242, 246); 
  background: #f8f8fa; 
  background: #fbfbfb; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
}
section .reachout{
  flex-basis: 45%;
  /* border: 1px solid dodgerblue; */
  height: 100%;
}
.reachout p{
  text-align: left;
}
.reachout .mid{
  margin: 3em 0 5em;
}
.reachout .mid span{
  display: block;
  margin: 1em 0;
  font-weight: 300;
  color: #444;
}
.reachout .mid span i{
  color: #fcae49;
  margin-right: 10px;
}

/* SUBSCRIPTION RULESET */
.subscription{
  min-height: 80vh;
  display: grid;
  place-items: center;
}
.form-container{
  max-width: 400px;
  background: #fff; 
  box-shadow: 5px 10px 20px 2px rgb(206, 193, 243);
  border-radius: 1em;
  padding: 2em;
  position: relative; 
}
.form-container h1{
  margin: 3em 0 .5em;
}
.subscription h2{
  font-size: 3em;
  opacity: 0;
  position: absolute;
  text-align: center; 
  margin-top: 8em;
  color: dodgerblue;
}
.subscription .success{
  position: absolute;   
}
.lottie{
  width: 100vw; 
  height: 100vh;
  background-size: cover;
  pointer-events: none;  
}
label{
  display: block;
  font-size: 1.125rem;
  margin-bottom: .3em;
}
.form-container input{
  width: 100%;
  padding: .8em;
  border: 1px solid gray;
  margin-bottom: 1em;
}
.form-container .cta.seq{
  display: block; 
  background: rgb(150, 120, 240);
  color: #fff;
  text-decoration: none; 
  text-align: center;
  cursor: pointer;
  font-size: 1.45rem;
  padding: 0;
}
.form-container input,
.form-container a{
  border-radius: .3em;
}
.form-container p{
  font-size: 0.9rem;
  margin: 1em 0 2em;
  padding: 1em;
  background: rgb(245, 243, 235);
}
.onstart{
  position: absolute;
  top: -180px;
}

/* END of SUBSCRIPTION RULESET */

/* FOOTER Ruleset */
footer{
  width: 100vw; 
  background: linear-gradient(to bottom, #8030AA, #00093c);
  color: #fff;
  padding: 30px 0 10px;
  border-top-left-radius: 85px;
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 20px; 
}
.footer-logo{
  width: 65px;
  margin-bottom: 30px;
}
footer .row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}
footer .col{
  flex-basis: 25%;
  padding: 10px; 
}
footer .col:nth-child(1){
  flex-basis: 5%;
}
footer .col:nth-child(3),
footer .col:nth-child(4){
  flex-basis: 15%;
}
footer .col:nth-child(1),
footer .col:nth-child(5){
  align-self: center;
}
footer .col:nth-child(5){  
  display: flex;
  flex-direction: column;
  align-items: center; 
} 
footer .box{ 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
}
footer .col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}
footer a{
  color: #eeeeff;
}
footer .col .email{
  display: inline-block;
  width: fit-content;
  border-bottom: 1px solid #eeefff;
  margin: 15px 0 5px;
}
footer ul li{
  list-style: none;
  margin-bottom: 12px;
}
footer .sci{
  margin: 20px 0 0;
}
footer .fa{
  margin-right: 7px;
}
footer .fab{
  font-size: 1.2rem;
  margin-left: 10px;
  transition: color .5s ease;
}
footer .fab:hover{
  color: dodgerblue;
}
footer hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 10px auto;
}
footer .copyright{
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: .5px;
} 
footer .underline{ 
  width: 100%;
  position: absolute;
  height: 4px;
  background: #767676;
  border-radius: 3px;
  /* top: 25px; */
  left: 0;
  overflow: hidden;
}
footer .underline span{
  width: 15px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 10px;
  border-radius: 3px;
  animation: movin 3s linear infinite;
}
footer .underline span:nth-child(1){
  animation: moving 7s linear infinite;
}
@keyframes movin{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}
/* End of Footer Ruleset */

/* WHATSAPP CHAT ICON */
.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 1.1s ease-in-out;
  -webkit-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0); 
  transform: translate3d(0, 200%, 0);
}
.scroll-top a, .scroll-top a:visited {
  display: block; 
  height: 45px; 
  width: 45px; 
  line-height: 51px; 
  text-align: center; 
  border-radius: 7px; 
  -webkit-box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); 
  -moz-box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); 
  box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); 
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
  font-size:32px; 
  color: #ffffff;
}
.scroll-top a:hover, .scroll-top a:focus {
  color: #035e4a; 
  background: #ffffff;
}
.scroll-top.scroll-visible {
  opacity: 1; 
  visibility: visible; 
  -webkit-transform: translate3d(0, 0, 0); 
  -ms-transform: translate3d(0, 0, 0); 
  transform: translate3d(0, 0, 0);
}

.scroll-top  img{
  width: 65%;
}

.scroll-top.chat{
  bottom: 30px; 
}
.scroll-top.chat a{
  background-color: limegreen;
  border-radius: 50%;
}
.scroll-top.chat a:hover{
  background-color: #fff;
  color: limegreen;
}

footer#footer .fa-whatsapp{
  color: #21af2d;
  margin-top: -5px;
}
/* END OF WHATSAPP CHAT ICON */


/***************** ANIMATION Series *********************/
@keyframes anim {
  from{
    bottom: -100%;
  }
  to{
    bottom: 0%;
  }
}

@keyframes anim2 {
  from{
    /* left: 30%; */
    width: 530px;
  }
  to{
    left: 50%;
    width: 0px;
  }
}

@keyframes anim3 {
  from{
    left: -100%;
  }
  to{
    left: 0%;
  }
}

@keyframes anim4 {
  from{
    top: -100%;
  }
  to{
    top: 0%;
  }
}


/****************** End of ANIMATION Series ****************/

/* MOBILE */
/* RESPONSIVE */
/* FLUIDITY */

/* RESPONSIVE FLUIDITY */
@media screen and (max-width: 495px){
  /* Generic */ 
  .section-title{ 
    font-size: 1.5rem; 
  }
  p{
    font-size: 0.97rem;
  }

  /* HEADER MOBILE RULESET *************************************************/

  header{  
    padding: 1px;
    padding-left: 6px; 
    padding-right: 7px; 
    padding: 5px 7px 0px;
  } 
  header .container nav{
    display: none;
  }
  header .container .logo img{
    width: 58px;
    padding-top: 5px;
  }
  .container .menu.hide-desktop{
    display: flex;
  }
  
  .menu{
    width: 45px;
    height: 35px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    z-index: 99;
    transition: all .5s ease-in-out;
  }
  .menu .burger,
  .menu .burger::before,
  .menu .burger::after{
    width: 27px;
    height: 2.5px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    transition: all .5s ease-in-out; 
  }
  .menu .burger::before,
  .menu .burger::after{ 
    content: "";
    position: absolute;
  }
  .menu .burger::before{
    transform: translateY(-9px);
  }
  .menu .burger::after{
    transform: translateY(9px);
  }

  .menu.swish .burger{
    transform: translateX(-50px);
    background: transparent;
  }
  .menu.swish .burger::before{ 
    transform: rotate(45deg) translate(35px, -35px);
  } 
  .menu.swish .burger::after{ 
    transform: rotate(-45deg) translate(35px, 35px);
  } 

  /* HERO MOBILE RULESET *************************************************/
  section.hero{
    position: relative;
    min-height: 450px;
    min-height: 65vh;
    overflow: hidden;
    background-color: #1e242a;
    /* z-index: -1; */
  }
  #box1{
    width: 530px;
    height: 77%;
    background-image: url(./images/gridhand-min.png); 
    position: absolute;
    bottom: -100%;
    left: -20%;  
  }
  @keyframes anim2 {
    from{
      left: -20%;
      width: 530px;
    }
    to{
      left: 25%;
      width: 0px;
    }
  }
  
  #box2{
    width: 60%; 
    left: 10px;
  } 
  #hero-text h1{
    font-size: 2rem;
    font-weight: 500; 
    line-height: 30px;
  }
  #hero-text h1 span{
    font-size: 1.2rem;
  }
  #hero-text p{
    margin: 1.2em 0 2em;
    font-size: .99rem;
    font-weight: 300;
  }
  #hero-text a.cta{ 
    padding: 5px 15px;  
    font-weight: 400;
    font-size: .75rem;  
  }


  /* MOBILE SERVICE & SOLUTIONS */
  #solution{ 
    background: url(./images/backdrop/mbkdd.jpg);  
    min-height: 50vh; 
  }
  #solution .solution.container{  
    padding: 5em 2em;
  }
  #solution .section-title{
    margin: 0;
  }

  /* MOBILE CONTACT SECTION */
  section .reachout{
    flex-basis: 100%; 
  }
  /* END OF MOBILE CONTACT SECTION */

  /* FOOTER MOBILE */
  footer .row{ 
    flex-direction: column;
    justify-content: center; 
  }
  footer .col{
    flex-basis: 100%;
    padding: 25px 0 10px; 
  }
  footer .col h3{ 
    margin-bottom: 10px; 
  }
  footer .col:nth-child(1){
    flex-basis: 100%;
    justify-self: center;
  }
  footer .col:nth-child(3),
  footer .col:nth-child(4){
    flex-basis: 100%;
  }
  footer .col:nth-child(1),
  footer .col:nth-child(5){
    align-self: unset;
  }
  footer .col:nth-child(5){   
    align-items: flex-start; 
  } 
  footer .box{  
    align-items: flex-start; 
  }
  footer .fab{ 
    margin-left: 0; 
    margin-right: 10px;
  }
  footer .copyright{
    margin-bottom: 5px;
  } 
  .scroll-top.chat{
    bottom: 50px; 
    right: 10px;
  }
}
/* END OF RESPONSIVE FLUIDITY */

/* ERROR 404 PAGE */
  .erp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    padding: 3em 0;
  }
  .erp .dlogo img{
    width: 75px;
  }
  .erp .e404{ 
    max-width: 400px;
    height: 400px; 
  }
  .erp .e404 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .erp .cta{
    background-color: #62affb;
    padding: 2px 25px;
    border-radius: 20px;
    color: #fff;
    font-weight: 300;
  }
/* END OF ERROR 404 PAGE */






